<li data-stock-id=<%-obj.getId()%>>
    <%-obj.getTitle()%> -- 
    <span>£ <%-obj.getPrice()%> </span>
    <span><%-obj.getUnitDescription()%></span>
    <span class="step stock-remove">-</span>
    <span class="step stock-add">+</span>
</li>
                
                