<li data-stock-id=<%-stockItem.getId()%>>
    <%-stockItem.getTitle()%> -- 
    <span>£ <%-stockItem.getPrice()%> </span>
    <span><%-stockItem.getUnitDescription()%></span>
    <span class="step stock-remove">-</span>
    <span class="step stock-add">+</span>
</li>
                
                