<%
_.each(basket.getItems(), function(item){ 

var stock = item.getStockItem();
%>
<li class="basket-item">
    <%-stock.getTitle()%> (x <%-item.getQuantity()%> @ £<%-stock.getPrice()%>)  <i class="basket-item-total">£<%-obj.numberFormat(item.getTotal())%></i>
</li>
<%
});
%>