<ul class="store">
    <%
    _.each(stockItems, function(item){ 
    print(obj.stockItemTemplate(item));
    });
    %>
</ul>

<div class="basket">
    <div class="basket-wrap">
        <ul class="basket-items">

        </ul>
    </div>
    <ul class="basket-footer">
        <li><select class="basket-currency js-currency">
            <%
            _.each(currency.getAll(), function(currency, id){ 
            %>
            <option value="<%-id%>"><%-currency.title%></option>
            <%
            });
            %>
        </select>
        </li>
        <li>TOTAL: <span class="basket-total"></span></li>
    </div>
</div>